#content {
    top: 120px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
#content-title {
    position: relative;
    top: 20%;
    height: 80px;
    background-color: rgb(208, 208, 208);
    border-radius: 20px 20px 0px 0px
}
#content-body {
    position: relative;
    background-color: rgb(242, 242, 242);
    border-radius: 0px 0px 20px 20px;
}
.card-deck {
    position: relative;
    padding-top: 20px;
}
.card {
    background-color: rgb(208, 208, 208);
}
.card-body {
    background-color: rgb(242, 242, 242);
}
.rounder {
    border-radius: 20px !important;
}
.avatar {
    border-radius: 10px 10px 10px 10px !important;
    top: 10px;
    position: relative;
    width: 70%;
}
.links {
    padding: 10px;
}
.links a {
    text-decoration: none;
}
.link-ico {
    width: 40px;
}
.plink {
    color: rgb(250, 152, 33);
}
@media (max-width: 767px) {
    #content-title {
        height: 40px;
    }
}