#search-bar {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 10px;
    height: 60px;
    width: 100%;
    background-color: rgb(208, 208, 208);
    border-radius: 20px;
}

#search {
    padding-left: 20px;
}

.search-title {
    position: relative;
    padding-top: 5px;
    width: 30%;
}

.search-col {
    position: relative;
    display: block;
}

.search-form {
    position: relative;
    left: 0px;
    width: 100%;
}

@media (max-width: 767px) {
    #search-bar {
        height: 75px;
        width: 70%;
    }

    .search-title {
        width: 25%;
    }
    
    .m-title {
        font-size: 100%;
    }
}