:root {
    --primary:rgba(16,116,231,1);
    --secondary:rgba(46,188,79,1);
    --dark:rgba(36,41,46,1);
    --dark-2:rgba(43,49,55,1);
    --white:rgba(255,255,255,1);
}

body {
    font-size: 18px;
}


/* Bootstrap overides
----------------------------------------------- */

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-dark-2 {
    background-color: var(--dark-2);
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary {
    background-color: var(--dark-2);
    border-color: var(--dark-2);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--white);
}


.main {
    background: linear-gradient(180deg, var(--dark-2) 0%, var(--dark-2) 420px, var(--white) 420px);
}

@media screen and (min-width: 768px) {
    .main {
        background: linear-gradient(180deg, var(--dark-2) 0%, var(--dark-2) 360px, var(--white) 360px);
    }
}

@media screen and (min-width: 992px) {
    .main {
        background: linear-gradient(180deg, var(--dark-2) 0%, var(--dark-2) 420px, var(--white) 420px);
    }

    .home-page .main::before {
        display: block;
        content: '';
        position: absolute;
        right: 0;
        height: 90vh;
        width: 50vw;
        background-image: url(./img/home-image.png);
        background-repeat: no-repeat;
    }
}

#header-bar {
    height: 10%;
    width: 100%;
    background-color: rgb(208, 208, 208);
}

#header-title {
    font-size: 25px;
}

#logo {
    height: 60px;
}

#error-code {
    font-family: Comfortaa;
    font-size: 200px;
    color: rgb(208, 208, 208);
}

#navigation {
    position: absolute;
    right: 20px;
}

#dcimg {
    width: 300px;
}

.img-vert {
    display: inline-block;
    height: 100%;
}

.error {
    color: rgb(208, 208, 208);
}

.big-title {
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 60px;
}

.l-title {
    font-family: Comfortaa;
    font-weight: normal;
    font-size: 40px;
}

.m-title {
    font-family: Comfortaa;
    font-weight: normal;
    font-size: 150%;
}

.home-content {
    padding: 20px;
    width: 100%;
    max-height: 40px;
}

.side-img {
    display: block;
    position: relative;
    width: 50%;
    height: 100%;
    max-height: 400px;
    max-width: 400px;
}

.side-txt {
    display: block;
    position: relative;
    width: 50%;
}

.text-title {
    background-color: rgb(208, 208, 208);
    border-radius: 20px 20px 0px 0px;
}

.text-content {
    background-color: rgb(242, 242, 242);
    border-radius: 0px 0px 20px 20px;
}

.card-deck {
    position: relative;
    padding-top: 20px;
}

.card {
    background-color: rgb(208, 208, 208);
}

.card-header {
    background-color: rgb(208, 208, 208);
}

.card-body {
    background-color: rgb(242, 242, 242);
}

.rounder {
    border-radius: 20px !important;
}

.footer {
    background-color: rgb(208, 208, 208);
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0px;
}

.footer-text {
    position: relative;
    top: 15px;
    left: 70px;
}

.plink {
    color: rgb(250, 152, 33);
}

@media (max-width: 767px) {
    .big-title {
        font-size: 30px;
    }

    .side-img {
        display: none;
    }

    .side-txt {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
    }

    #navigation {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 400px
    }

    .nav-item {
        font-size: 19px;
    }

    #header-bar {
        height: 100px;
    }

    #header-title {
        left: 0px;
        width: 20%;
    }

    #logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        height: 60px;
    }

    .card {
        align-self: center;
        width: 80%;
    }

}

.containerCustom {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
