@font-face {
    font-family: Comfortaa;
    src: url(./fonts/Comfortaa-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Comfortaa;
    src: url(./fonts/Comfortaa-Light.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: Comfortaa;
    src: url(./fonts/Comfortaa-Bold.ttf);
    font-weight: bold;
}
#header-bar {
    height: 10%;
    width: 100%;
    background-color: rgb(208, 208, 208);
}
#header-title {
    width: 30%;
    font-size: 25px;
}
#logo {
    height: 60px;
}
#error-code {
    font-family: Comfortaa;
    font-size: 200px;
    color: rgb(208, 208, 208);
}
#navigation {
    width: 70%;
    padding-right: 20px !important;
}
.error {
    color: rgb(208, 208, 208);
}
#dcimg {
    width: 300px;
}
.big-title {
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 60px;
    text-wrap: avoid;
}
.m-title {
    font-family: Comfortaa;
    font-weight: normal;
    font-size: 150%;
}
.text-title {
    height: 60px;
    background-color: rgb(208, 208, 208);
    border-radius: 20px 0px 0px 0px;
}
.text-content {
    height: 335px;
    background-color: rgb(242, 242, 242);
    border-radius: 0px 0px 0px 20px;
}
.nav-sep {
    position: relative;
    left: 10px;
    top: 6px;
    padding-left: 20px;
    border-left: 2px solid #232323;
    height: 30px;
}
.nav-item {
    padding: 5px;
    font-size: 20px;
}
.nav-item a {
    color: #232323;
    text-decoration: none;
}
.nav-item a:hover {
    color: rgb(250, 152, 33);
    text-decoration: none;
}
.side-img {
    display: grid;
    position: relative;
    width: 50%;
    border-radius: 0px 20px 20px 0px;
}
.side-txt {
    display: grid;
    position: relative;
    width: 50%;
}
.main {
    position: relative;
    top: 20px;
}
body {
    background-color: #232323;
}