:root {
    --primary:rgba(16,116,231,1);
    --secondary:rgba(46,188,79,1);
    --dark:rgba(36,41,46,1);
    --dark-2:rgba(43,49,55,1);
    --white:rgba(255,255,255,1);
}

body {
    font-size: 18px;
    color: var(--dark-2);
}


/* Bootstrap overides
----------------------------------------------- */

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-dark-2 {
    background-color: var(--dark-2);
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary {
    background-color: var(--dark-2);
    border-color: var(--dark-2);
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
    font-weight: 600;
}


.main {
    background: linear-gradient(180deg, var(--dark-2) 0%, var(--dark-2) 420px, var(--white) 420px);
}

@media screen and (min-width: 768px) {
    .main {
        background: linear-gradient(180deg, var(--dark-2) 0%, var(--dark-2) 360px, var(--white) 360px);
    }
}

@media screen and (min-width: 992px) {
    .main {
        background: linear-gradient(180deg, var(--dark-2) 0%, var(--dark-2) 420px, var(--white) 420px);
    }

    .home-page .main::before {
        display: block;
        content: '';
        position: absolute;
        right: 0;
        height: 90vh;
        width: 50vw;
        background-image: url(./img/home-image.png);
        background-repeat: no-repeat;
    }
}

#error-code {
    font-family: Comfortaa;
    font-size: 200px;
    color: rgb(208, 208, 208);
}

#dcimg {
    width: 300px;
}

.error {
    color: rgb(208, 208, 208);
}

.plink {
    color: rgb(250, 152, 33);
}

.containerCustom {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
