:root {
    --primary:rgba(16,116,231,1);
    --secondary:rgba(46,188,79,1);
    --dark:rgba(36,41,46,1);
    --dark-2:rgba(43,49,55,1);
    --white:rgba(255,255,255,1);
}

body {
    font-size: 18px;
    color: var(--dark-2);
}


/* Bootstrap overides
----------------------------------------------- */

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-dark-2 {
    background-color: var(--dark-2);
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary {
    background-color: var(--dark-2);
    border-color: var(--dark-2);
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
    font-weight: 600;
}

.container-xl {
    max-width: 1280px;
    margin: auto;
}


.main {
    background: linear-gradient(180deg, var(--dark-2) 0%, var(--dark-2) 420px, var(--white) 420px);
}

@media screen and (min-width: 768px) {
    .main {
        background: linear-gradient(180deg, var(--dark-2) 0%, var(--dark-2) 360px, var(--white) 360px);
    }
}

@media screen and (min-width: 992px) {
    .main {
        background: linear-gradient(180deg, var(--dark-2) 0%, var(--dark-2) 420px, var(--white) 420px);
    }

    .home-page .main::before {
        display: block;
        content: '';
        position: absolute;
        right: 0;
        height: 90vh;
        width: 50vw;
        background-image: url(./img/home-image.png);
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 768px) {
    .friends-graph-page #profileGen,
    .timeline-graph-page #profileGen {
        margin-top: -84px
    }
}

.card .actions {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.card .actions .btns {
    display: inline-block;
    padding: 8px;
    margin-left: 8px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: box-shadow .3s ease-out;
}

.card .actions .btns:hover {
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.06);
}

.card .actions .btns svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 24px;
    width: 24px;
    fill: var(--dark-2);
    opacity: 0.64;
    transition: opacity .3s ease-out;
}

.card .actions .btns:hover svg {
    fill: var(--primary);
    opacity: 1;
}

#error-code {
    font-family: Comfortaa;
    font-size: 200px;
    color: rgb(208, 208, 208);
}

#dcimg {
    width: 300px;
}

.error {
    color: rgb(208, 208, 208);
}

.plink {
    color: rgb(250, 152, 33);
}

.containerCustom {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
